<div id="wrapper">

  <!--<div ng-include="'views/shared/navigation.html'"></div>-->

  <eeh-navigation-sidebar menu-name="'lo30Menu'" nav-class="'lo30-bg-blue side-nav side-nav-logo'">
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper">

      <!--<div ng-include="'views/shared/topnavbar.html'"></div>-->

      <ui-view></ui-view>

      <!--<div ng-include="'views/shared/footer.html'"></div>-->

    </div>
  </eeh-navigation-sidebar>

</div>