<!--<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul lo30-side-navigation class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="profile-element" uib-dropdown>
          <a uib-dropdown-toggle href>
            <span class="clear">
              <span class="block m-t-xs">
                <strong class="font-bold">Livonia</strong>
                <strong class="font-bold">Over 30</strong>
                <strong class="font-bold">Hockey</strong>
              </span>
            </span>
          </a>
        </div>
        <div class="logo-element">
          LO30
        </div>
      </li>

      <li ng-class="{active: $state.includes('schedule')}">
        <a ui-sref="schedule"><i class="fa fa-calendar"></i> <span class="nav-label">Schedule</span></a>
      </li>

      <li ng-class="{active: $state.includes('standings')}">
        <a ui-sref="standings"><i class="fa fa-group"></i> <span class="nav-label">Standings</span></a>
      </li>


      <li ng-class="{active: $state.includes('stats')}">
        <a href=""><i class="fa fa-user"></i> <span class="nav-label">Stats</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('stats')}">
          <li ui-sref-active="active"><a ui-sref="root.stats({playerType: 'fooVal1', seasonId: 1, seasonTypeId: 2})">Skaters</a></li>
          <li ui-sref-active="active"><a ui-sref="stats">Goalies</a></li>
        </ul>
      </li>

      <li ng-class="{active: $state.includes('careers')}">
        <a href=""><i class="fa fa-user-plus"></i> <span class="nav-label">Careers</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('careers')}">
          <li ui-sref-active="active"><a ui-sref="stats">Skaters</a></li>
          <li ui-sref-active="active"><a ui-sref="charts.rickshaw_chart">Goalies</a></li>
        </ul>
      </li>
    </ul>

  </div>
</nav>-->
