<div class="row border-bottom">
  <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <span minimaliza-sidebar></span>
    </div>
    <div class="col-md-2">
      <lo30-season-selector class="nav navbar-top-links" />
    </div>
    <div class="col-md-2">
      <lo30-season-type-selector class="nav navbar-top-links" />
    </div>
    <div>
      <ul class="nav navbar-top-links navbar-right">
        <!--<li uib-dropdown>
        <a class="count-info" href uib-dropdown-toggle>
          2015-2016
        </a>
        <ul uib-dropdown-menu class="animated fadeInRight m-t-xs"> ng-controller="translateCtrl">
          <li><a ng-click="changeLanguage('en')">2015-2016</a></li>
          <li><a ng-click="changeLanguage('es')">2014-2015</a></li>
        </ul>
      </li>-->
        <li uib-dropdown>
          <a class="count-info" href uib-dropdown-toggle>
            Regular Season
          </a>
          <ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
            <!--ng-controller="translateCtrl">-->
            <li><a ng-click="changeLanguage('en')">Regular Season</a></li>
            <li><a ng-click="changeLanguage('es')">Playoffs</a></li>
          </ul>
        </li>
        <li>
          <a ui-sref="login">
            <i class="fa fa-sign-out"></i> Log out
          </a>
        </li>
        <li>
          <a ng-click="$root.rightSidebar = !$root.rightSidebar">
            <i class="fa fa-tasks"></i>
          </a>
        </li>
      </ul>
    </div>
</nav>
</div>