.dataTables_length select{
  border: 1px solid #e5e6e7;
  border-radius: 1px;
}

/* https://bootswatch.com/spacelab/#buttons info */

.lo30-bg-blue {
  background-color: #3399f3;
  border-color: #3399f3; }

.lo30-bg-blue .nav > li a {
  background-color: #3399f3;
  border-color: #3399f3; }

.lo30-bg-blue .nav > li a:hover {
  background-image: -webkit-linear-gradient(#68b3f6, #208ff2 50%, #0e86ef);
  background-image: -o-linear-gradient(#68b3f6, #208ff2 50%, #0e86ef);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#68b3f6), color-stop(50%, #208ff2), to(#0e86ef));
  background-image: linear-gradient(#68b3f6, #208ff2 50%, #0e86ef);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff68b3f6', endColorstr='#ff0e86ef', GradientType=0);
  -webkit-filter: none;
  filter: none;
  border: 1px solid #0c75d2; }

.lo30-bg-white {
  background-color: #f8f8f8;
  border-color: #e7e7e7; }

.lo30-bg-red {
  color: #ffffff;
  background-color: #ee5f5b;
  background-image: -webkit-linear-gradient(#f17a77, #ee5f5b 60%, #ec4d49);
  background-image: -o-linear-gradient(#f17a77, #ee5f5b 60%, #ec4d49);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f17a77), color-stop(60%, #ee5f5b), to(#ec4d49));
  background-image: linear-gradient(#f17a77, #ee5f5b 60%, #ec4d49);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff17a77', endColorstr='#ffec4d49', GradientType=0);
  -webkit-filter: none;
  filter: none; }


/*
 *
 *   SKIN LO30 - INSPINIA - Responsive Admin Theme
 *   NAME - Blue light
 *
*/
.skin-lo30 .minimalize-styl-2 {
  margin: 14px 5px 5px 30px;
}
.skin-lo30 .navbar-top-links li:last-child {
  margin-right: 30px;
}
.skin-lo30.fixed-nav .minimalize-styl-2 {
  margin: 14px 5px 5px 15px;
}
.skin-lo30 .spin-icon {
  background: #3399f3 !important;
}
.skin-lo30 .nav-header {
  background: #3399f3;
  background: url('patterns/header-profile-skin-lo30.png');
}
.skin-lo30.mini-navbar .nav-second-level {
  background: #3399f3;
}
.skin-lo30 .breadcrumb {
  background: transparent;
}
.skin-lo30 .page-heading {
  border: none;
}
.skin-lo30 .nav > li.active {
  background: #0e86ef;
}
.skin-lo30 .nav > li > a {
  color: #ffffff;
  background-color: #3399f3;
  border-color: #3399f3; 
}

.skin-lo30 .nav > li.active > a {
  background-image: -webkit-linear-gradient(#68b3f6, #208ff2 50%, #0e86ef);
  background-image: -o-linear-gradient(#68b3f6, #208ff2 50%, #0e86ef);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#68b3f6), color-stop(50%, #208ff2), to(#0e86ef));
  background-image: linear-gradient(#68b3f6, #208ff2 50%, #0e86ef);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff68b3f6', endColorstr='#ff0e86ef', GradientType=0);
  -webkit-filter: none;
  filter: none;
  border: 1px solid #0c75d2; 
}

.skin-lo30 .navbar-minimalize {
  background: #3399f3;
  border-color: #3399f3;
}
body.skin-lo30 {
  background: #3399f3;
}
.skin-lo30 .navbar-static-top {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.skin-lo30 .dashboard-header {
  background: transparent;
  border-bottom: none !important;
  border-top: none;
  padding: 20px 30px 10px 30px;
}
.fixed-nav.skin-lo30 .navbar-fixed-top {
  background: #fff;
}
.skin-lo30 .wrapper-content {
  padding: 0px 0px;
}
.skin-lo30 #page-wrapper {
  background: #f4f6fa;
}
.skin-lo30 .ibox-title,
.skin-lo30 .ibox-content {
  border-width: 1px;
}
.skin-lo30 .ibox-content:last-child {
  border-style: solid solid solid solid;
}
.skin-lo30 .nav > li.active {
  border: none;
}
.skin-lo30 .nav-header {
  padding: 35px 25px 25px 25px;
}
.skin-lo30 .nav-header a.dropdown-toggle {
  color: #fff;
  margin-top: 10px;
}
.skin-lo30 .nav-header a.dropdown-toggle .text-muted {
  color: #fff;
  opacity: 0.8;
}
.skin-lo30 .profile-element {
  text-align: center;
}
.skin-lo30 .img-circle {
  border-radius: 5px;
}
.skin-lo30 .navbar-default .nav > li > a:hover,
.skin-lo30 .navbar-default .nav > li > a:focus {
  background-image: -webkit-linear-gradient(#68b3f6, #208ff2 50%, #0e86ef);
  background-image: -o-linear-gradient(#68b3f6, #208ff2 50%, #0e86ef);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#68b3f6), color-stop(50%, #208ff2), to(#0e86ef));
  background-image: linear-gradient(#68b3f6, #208ff2 50%, #0e86ef);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff68b3f6', endColorstr='#ff0e86ef', GradientType=0);
  -webkit-filter: none;
  filter: none;
  border: 1px solid #0c75d2; 
}

.skin-lo30 .nav.nav-tabs > li.active > a {
  color: #555;
}
.skin-lo30 .nav.nav-tabs > li.active {
  background: transparent;
}


.nav-header {
  padding: 33px 25px;
}

.logo-brand {
  font-size: 14px;
  font-weight: 600;
  color: white;
  display: block;
}

.navbar-title {
  color: #999c9e;
  font-size: 24px;
  padding: 10px 0px 0px 10px;
  min-height: 50px;
  font-weight: 600;
  position: relative;
  display: inline-block;
}

.navbar-title-mobile {
  font-size: 16px;
  padding: 10px 0px 0px 10px;
  min-height: 50px;
} 

.navbar-title-tablet {
} 

div.dataTables_paginate { 
  float: none; 
  text-align: center !important;
}

/* Pageslide Needed for hiding scrollbars when pushing */
html {
    overflow-x: hidden;
}

.ng-pageslide {
    background: #eee;
}

body.ng-pageslide-body-open::before {
    content: '.';
    display: block;
    position: absolute;
    top: 0;
    background-color: rgb(0,0,0);
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.5;
    transition: opacity 1s;
    opacity: 0.5;
    pointer-events: all;
}

body.ng-pageslide-body-closed::before {
    transition: opacity 1s;
    content: '.';
    display: block;
    position: absolute;
    top: 0;
    background-color: rgb(0,0,0);
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
}

#container {
    width: 10rem;
    height: 10rem;

    p {
        font-size: 0.5rem!important;
    }
}

.chat-discussion {
  height: auto !important;
}

/* Needed for About Page */



.about-title {
  display: block;
  color: #2E363F;
  font-size: 3em;
  line-height: 44px;
  margin: 0 0 18px 0;
  font-family: 'Open Sans';
  font-weight: 300;
  letter-spacing: -1px;
  text-align: center;
}

.about-subtitle {
  display: block;
  font-size: 15px;
  padding: 0;
  margin: -10px 0 0 0;
  text-align: center;
  line-height: 44px;
  font-family: 'Open Sans';
  font-weight: 300;
  letter-spacing: -1px;
}

.about-tagline {
  font-size: 21px;
  margin-bottom: 20px;
  font-weight: 200;
  line-height: 1.4;
  margin: 0 0 20px;
  color: #7e8998;
  display: block;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Open Sans', Arial, sans-serif;
}

.grayscale {
    filter: url('../img/gray.svg#grayscale');
    filter: gray;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

.fullwidthbanner-container{
	width:100%;
	position:relative;
	padding:0;
	overflow:hidden;
}

.fullwidthbanner-container .fullwidthbanner {
    width: 100%;
    position: relative;
}

.tp-simpleresponsive ul {
	list-style:none;
	padding:0;
	margin:0;
}

.tp-simpleresponsive >ul >li{
	list-stye:none;
	position:absolute;
	visibility:hidden;
}

.tp-bannertimer								{	width:100%; height:10px; background:url(../assets/timer.png);position:absolute; z-index:200;top:0px;}
.tp-bannertimer.tp-bottom					{	bottom:0px;height:5px; top:auto;}


.tp-loader 	{	  
				top:50%; left:50%; 
				z-index:10000; 
				position:absolute;
				

			}
			
.tp-loader.spinner0 {
  width: 40px;
  height: 40px;
  background:url(../assets/loader.gif) no-repeat center center;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);  
  margin-top:-20px;
  margin-left:-20px;
  -webkit-animation: tp-rotateplane 1.2s infinite ease-in-out;
  animation: tp-rotateplane 1.2s infinite ease-in-out;
  border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}


.tp-loader.spinner1 {
  width: 40px;
  height: 40px;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);  
  margin-top:-20px;
  margin-left:-20px;
  -webkit-animation: tp-rotateplane 1.2s infinite ease-in-out;
  animation: tp-rotateplane 1.2s infinite ease-in-out;
  border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}



.tp-loader.spinner5 	{	background:url(../assets/loader.gif) no-repeat 10px 10px; 
							background-color:#fff;  
							margin:-22px -22px; 							
							width:44px;height:44px;
							border-radius: 3px;
							-moz-border-radius: 3px;
							-webkit-border-radius: 3px;
						}


@-webkit-keyframes tp-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes tp-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}


.tp-loader.spinner2 {
  width: 40px;
  height: 40px;
  margin-top:-20px;margin-left:-20px;
  background-color: #ff0000;
   box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);  
  border-radius: 100%;  
  -webkit-animation: tp-scaleout 1.0s infinite ease-in-out;
  animation: tp-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes tp-scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes tp-scaleout {
  0% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}




.tp-loader.spinner3 {
  margin: -9px 0px 0px -35px;
  width: 70px;
  text-align: center;

}

.tp-loader.spinner3 .bounce1,
.tp-loader.spinner3 .bounce2,
.tp-loader.spinner3 .bounce3 {
  width: 18px;
  height: 18px;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);  
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: tp-bouncedelay 1.4s infinite ease-in-out;
  animation: tp-bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.tp-loader.spinner3 .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.tp-loader.spinner3 .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes tp-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes tp-bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}




.tp-loader.spinner4 {
  margin: -20px 0px 0px -20px;
  width: 40px;
  height: 40px;
  text-align: center; 
  -webkit-animation: tp-rotate 2.0s infinite linear;
  animation: tp-rotate 2.0s infinite linear;
}

.tp-loader.spinner4 .dot1, 
.tp-loader.spinner4 .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #fff;
  border-radius: 100%;  
  -webkit-animation: tp-bounce 2.0s infinite ease-in-out;
  animation: tp-bounce 2.0s infinite ease-in-out;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);  
}

.tp-loader.spinner4 .dot2 {
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes tp-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes tp-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes tp-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes tp-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}



.tp-transparentimg {	content:"url(../assets/transparent.png)"}
.tp-3d				{	-webkit-transform-style: preserve-3d;
						 -webkit-transform-origin: 50% 50%;
					}



.tp-caption img {
background: transparent;
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
zoom: 1;
}


.tp-bannershadow  {
		position:absolute;

		margin-left:auto;
		margin-right:auto;
		-moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
	}

.tp-bannershadow.tp-shadow1 {	background:url(../assets/shadow1.png) no-repeat; background-size:100% 100%; width:890px; height:60px; bottom:-60px;}
.tp-bannershadow.tp-shadow2 {	background:url(../assets/shadow2.png) no-repeat; background-size:100% 100%; width:890px; height:60px;bottom:-60px;}
.tp-bannershadow.tp-shadow3 {	background:url(../assets/shadow3.png) no-repeat; background-size:100% 100%; width:890px; height:60px;bottom:-60px;}


.tp-leftarrow.default									{	z-index:100;cursor:pointer; position:relative;	background:url(../assets/large_left.png) no-Repeat 0 0;	width:40px;	height:40px;

														}
.tp-rightarrow.default									{	z-index:100;cursor:pointer; position:relative;	background:url(../assets/large_right.png) no-Repeat 0 0;	width:40px;	height:40px;

														}




.tp-leftarrow:hover,
.tp-rightarrow:hover 									{	background-position:bottom left; }



