.side-nav-old {
  background-color: #2f4050; }

.side-nav {
  /*float: left; Instead of float, use absolute position*/
  position: absolute;
  height: 100%;
  padding-top: -50px;
  padding-bottom: -20px; }

/* https://bootswatch.com/spacelab/#buttons info */
.lo30-bg-blue {
  color: #ffffff;
  background-color: #3399f3;
  border-color: #3399f3; }

.lo30-bg-blue .sidebar-nav > li a {
  color: #ffffff;
  background-color: #3399f3;
  border-color: #3399f3; }

.lo30-bg-blue .sidebar-nav > li a:hover {
  background-image: -webkit-linear-gradient(#68b3f6, #208ff2 50%, #0e86ef);
  background-image: -o-linear-gradient(#68b3f6, #208ff2 50%, #0e86ef);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#68b3f6), color-stop(50%, #208ff2), to(#0e86ef));
  background-image: linear-gradient(#68b3f6, #208ff2 50%, #0e86ef);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff68b3f6', endColorstr='#ff0e86ef', GradientType=0);
  -webkit-filter: none;
  filter: none;
  border: 1px solid #0c75d2; }

.lo30-bg-white {
  background-color: #f8f8f8;
  border-color: #e7e7e7; }

.lo30-bg-red {
  color: #ffffff;
  background-color: #ee5f5b;
  background-image: -webkit-linear-gradient(#f17a77, #ee5f5b 60%, #ec4d49);
  background-image: -o-linear-gradient(#f17a77, #ee5f5b 60%, #ec4d49);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f17a77), color-stop(60%, #ee5f5b), to(#ec4d49));
  background-image: linear-gradient(#f17a77, #ee5f5b 60%, #ec4d49);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff17a77', endColorstr='#ffec4d49', GradientType=0);
  -webkit-filter: none;
  filter: none; }

.navbar-footer {
  min-height: 20px; }

body {
  padding-top: 50px;
  padding-bottom: 20px; }

.navbar-form-slim {
  height: 0px; }

.navbar-btn-slim {
  margin-top: 0px;
  margin-bottom: 0px; }
