<nav class="navbar navbar-default navbar-fixed-bottom navbar-footer lo30-bg-red">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><strong>Copyright</strong> Livonia Over 30 Hockey Association &copy; 2015-2016</li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>ANY DAY PLAYING HOCKEY IS A GREAT DAY!</li>
    </ul>
  </div>
</nav>
