@{
  ViewData["Title"] = "Schedule";
}

<div id="schedule">

  <div class="row">
    <div id="breadcrumb" class="col-xs-12">
      <ol class="breadcrumb">
        <li><a href="/ng/#/">Home</a></li>
        <li class="active">Schedule</li>
      </ol>
    </div>
  </div>


  <div class="row">
    <header class="page-title">
      <h4 class="col-md-12">2015 - 2016 Schedule</h4>
    </header>
  </div>

  <div class="table-responsive">
    <table class="table table-condensed">
      <tr>
        <td>
          <b><span style="font-size: large">Team Game Schedule Feeds</span></b>
          <br />
          <div>Please use the following feed to subscribe to your team's calendar.</div>
          <br />
          <div>
            <b>Phones</b>
            <br />
            Navigate to this page on your phone and click the Feed link next to your team's name.
          </div>
          <br />
          <br />
          <div>
            <b>Other Applications</b>
            <br />
            You can copy and paste the long URL next to your team's name into any calendar product that supports the iCal format.
            <br />
            <em>Looking for an application that supports iCalendar feeds? Try <a href="http://www.google.com/calendar" target="_blank">Google Calendar</a>.</em>
          </div>
          <br>

          <dl class="dl-horizontal">
            <dt>Bill Brown</dt>
            <dd>
              <a href="webcal://localhost:5000/Schedule/TeamFeed/Seasons/56/Teams/318/BillBrownSchedule">iPhone</a>&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="http://localhost:5000/Schedule/TeamFeed/Seasons/56/Teams/318/BillBrownSchedule">Non-iPhone</a><br />
              lo30.azurewebsites.net/Schedule/TeamFeed/Seasons/56/Teams/318/BillBrownSchedule
            </dd>
            <dt>D &amp; G</dt>
            <dd>
              <a href="webcal://lo30.azurewebsites.net/Schedule/TeamFeed/56/319/false">iPhone</a>&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="http://lo30.azurewebsites.net/Schedule/TeamFeed/56/319/false">Non-iPhone</a><br />
              lo30.azurewebsites.net/Schedule/TeamFeed/56/319/false
            </dd>
            <dt>DPKZ</dt>
            <dd>
              <a href="webcal://lo30.azurewebsites.net/Schedule/TeamFeed/56/320/false">iPhone</a>&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="http://lo30.azurewebsites.net/Schedule/TeamFeed/56/320/false">Non-iPhone</a><br />
              lo30.azurewebsites.net/Schedule/TeamFeed/56/320/false
            </dd>
            <dt>Glover</dt>
            <dd>
              <a href="webcal://lo30.azurewebsites.net/Schedule/TeamFeed/56/321/false">iPhone</a>&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="http://lo30.azurewebsites.net/Schedule/TeamFeed/56/321/false">Non-iPhone</a><br />
              lo30.azurewebsites.net/Schedule/TeamFeed/56/321/false
            </dd>
            <dt>Hunt's Ace</dt>
            <dd>
              <a href="webcal://lo30.azurewebsites.net/Schedule/TeamFeed/56/322/false">iPhone</a>&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="http://lo30.azurewebsites.net/Schedule/TeamFeed/56/322/false">Non-iPhone</a><br />
              lo30.azurewebsites.net/Schedule/TeamFeed/56/322/false
            </dd>
            <dt>LAB / PSI</dt>
            <dd>
              <a href="webcal://lo30.azurewebsites.net/Schedule/TeamFeed/56/323/false">iPhone</a>&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="http://lo30.azurewebsites.net/Schedule/TeamFeed/56/323/false">Non-iPhone</a><br />
              lo30.azurewebsites.net/Schedule/TeamFeed/56/323/false
            </dd>
            <dt>Villanova</dt>
            <dd>
              <a href="webcal://lo30.azurewebsites.net/Schedule/TeamFeed/56/324/false">iPhone</a>&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="http://lo30.azurewebsites.net/Schedule/TeamFeed/56/324/false">Non-iPhone</a><br />
              lo30.azurewebsites.net/Schedule/TeamFeed/56/324/false
            </dd>
            <dt>Zas Ent</dt>
            <dd>
              <a href="webcal://lo30.azurewebsites.net/Schedule/TeamFeed/56/325/false">iPhone</a>&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="http://lo30.azurewebsites.net/Schedule/TeamFeed/56/325/false">Non-iPhone</a><br />
              lo30.azurewebsites.net/Schedule/TeamFeed/56/325/false
            </dd>
          </dl>
          <div><em><small>&nbsp;&nbsp;If you find any descrepencies with the calendar feeds or if you are having trouble subscribing to a feed, pleace contact Dan Hunt and let him know</small></em></div>
          <br>
        </td>
      </tr>
      <tr>
        <td>
          <b><span style="font-size: large">League Schedule</span></b>
          <br />
          <dl class="dl-horizontal">
            <dt>Link to PDF</dt>
            <dd><a href="@Url.Content("~/Content/Schedules/2015-16/Lo30 Schedule 2015-16.v3.pdf")">LO30 Schedule 2015-16.pdf</a></dd>
          </dl>
        </td>
      </tr>
    </table>
  </div>
</div>
