@{
    ViewData["Title"] = "Ng";
}

<div>
  <h1>Hello World</h1>
</div>
<div>
  <!-- JAVASCRIPT FILES -->
  <script type="text/javascript" src="~/Content/Template/plugins/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="~/Scripts/angular.min.js"></script>

  <!-- Ng App -->
  <script src="~/App_Scripts/Lo30App.js"></script>

  <!-- Controllers -->
  <script src="~/App_Scripts/Controllers/Admin/Test/BoxScoreController.js"></script>

  <!-- Directives -->
  <script src="~/App_Scripts/Directives/CriteriaSelector/CriteriaSelector.js"></script>
  <script src="~/App_Scripts/Directives/CriteriaSelector/CriteriaSelectorController.js"></script>

  <!-- Filters -->
  <script src="~/App_Scripts/Filters/FilterizeFilter.js"></script>
  <script src="~/App_Scripts/Filters/PercentageFilter.js"></script>

  <!-- Services -->
  <script src="~/App_Scripts/Services/AdminDataProcessingService.js"></script>

  <!-- External Libraries -->
  <script type="text/javascript" src="~/Scripts/underscore.js"></script>
  <script type="text/javascript" src="~/Scripts/simple.js.validator.min.js"></script>

</div>