@{
  ViewData["Title"] = "News";
}

<div id="news">

  <div class="row">
    <div id="pageHeader" class="col-xs-12">
      <span class="page-title">News</span>
      <span class="page-subtitle">@ViewData["SeasonName"] </span>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          Have Fun
          <span class="pull-right">Mar 21st</span>
        </div>
        <div class="panel-body">
          Everyone have a great spring/summer and we will see you again in the fall.
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          Playoff Champs
          <span class="pull-right">Mar 21st</span>
        </div>
        <div class="panel-body">
          Congrats to <strong>Zaschak Enterprises</strong> and their 3-1 Championship win in the playoffs.
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          Stats Updated
          <span class="pull-right">Mar 21st</span>
        </div>
        <div class="panel-body">
          Team Standings, Player and Goalie stats have all been updated for the through March 20th.
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Season Champs
          <span class="pull-right">Jan 8th</span>
        </div>
        <div class="panel-body">
          Congrats to <strong>Jeff Glover Realtors</strong> for their Regular Season Championship.
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Miracle On Ice
          <span class="pull-right">Oct 16th</span>
        </div>
        <div class="panel-body">
          In northern Minnesota, it's not uncommon to find a guy in his nineties looking back on his glory days as a hockey player - but it is uncommon to find a guy still living them. <a href="http://www.cbsnews.com/news/miracle-on-ice-94-year-old-hockey-player-dominates-in-the-rink/">link</a>.
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Cash Reward
          <span class="pull-right">Sept 10th</span>
        </div>
        <div class="panel-body">
          We've managed to collect all but the first two seasons of our league statistics. All of them have been integrated into our online database and are available on our website for everyone to enjoy!! We ask that you please look thru all of your old, Livonia Over 30 Hockey Banquet Books, game sheets, weekly statistics, team standings, etc for any of the following years:
          <ul>
            <li><b>1970-1971</b></li>
            <li><b>1971-1972</b></li>
          </ul>
          Please contact us via email <a href="MailTo:information@livoniaover30hockey.com?subject=Missing Statistics">information@livoniaover30hockey.com</a>. if you have these booklets or if you have any information that may lead to their apprehension!!!
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Jerseys for Sale
          <span class="pull-right">Sept 10th</span>
        </div>
        <div class="panel-body">
          Send an email to <a href="MailTo:information@livoniaover30hockey.com?subject=Jersey's">information@livoniaover30hockey.com</a> with Jersey's in the Subject line and which set(s) you're interested in.
          <br />
          <br />
          Our old jerseys are available for sale for $50 per set or Best Offer! You can own a piece of history!
          <ul>
            <li><b>Chicago White (Alan Ford)</b></li>
            <li><b>Chicago Black (Alan Ford)</b></li>
            <li><b>Florida White (Livonia Home Improvement)</b></li>
            <li><b>Florida White (Prestige Cleaner)</b></li>
            <li><b>Florida Red (Livonia Home Improvement)</b></li>
            <li><b>San Jose Teal (Suburban Optometric)</b></li>
            <li><b>NY Islander Blue (Daly)</b></li>
            <li><b>San Jose 3rd style (A&H)</b></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Rules
          <span class="pull-right">Sept 10th</span>
        </div>
        <div class="panel-body">
          Click on the documents below to download PDF versions of our:
          <ul>
            <li><a href="constitution.pdf" target="_new">Constitution</a></li>
            <li><a href="bylaws.pdf" target="_new">By Laws</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Stat Corrections
          <span class="pull-right">Sept 10th</span>
        </div>
        <div class="panel-body">
          Because our statistics are collected manually, it's possible that from time to time a goal, assist, penalty, etc may be marked incorrectly. If you happen to notice any errors, please send an email to <a href="MailTo:information@livoniaover30hockey.com?subject=Statistics Correction">information@livoniaover30hockey.com</a> specifying exactly what the correction is and put 'Statistics Correction' in the subject line.
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Hockey Pants
          <span class="pull-right">Sept 10th</span>
        </div>
        <div class="panel-body">
          The league is out of the hockey pants business. You can purchase a pair of used pants for $25 (cash or
          check). See any Board Member.
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Pictures
          <span class="pull-right">Sept 10th</span>
        </div>
        <div class="panel-body">
          If you have any old team photos or any old Over 30 pictures that you'd like to share, contact us to get them posted to our web site. Please send them via email to <a href="MailTo:information@livoniaover30hockey.com?subject=Pictures">information@livoniaover30hockey.com</a>.
        </div>
      </div>
    </div>
  </div>
</div>

