@model LO30.Web.Models.Objects.Player

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Player</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="PlayerId" />
        <div class="form-group">
            <label asp-for="BirthDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PreferredPosition" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PreferredPosition" class="form-control" />
                <span asp-validation-for="PreferredPosition" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Profession" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Profession" class="form-control" />
                <span asp-validation-for="Profession" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Shoots" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Shoots" class="form-control" />
                <span asp-validation-for="Shoots" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Suffix" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Suffix" class="form-control" />
                <span asp-validation-for="Suffix" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="WifesName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="WifesName" class="form-control" />
                <span asp-validation-for="WifesName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
