@model List<SeasonSelectorViewModel>

<div style="position:relative;float:left;width:100%;">
  <select id="seasons" name="seasons">
    @foreach (var item in Model)
    {
      if (item.IsSelected == true)
      {
        <option selected="selected" value="@item.SeasonId">@item.SeasonName</option>
      }
      else
      {
        <option value="@item.SeasonId">@item.SeasonName</option>
      }
    }
  </select>

  <environment names="Development,Staging,Production">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-mousewheel/jquery.mousewheel.min.js"></script>
    <script src="~/lib/jquery.iphonepicker/jquery.iphonepicker.min.js"></script>
  </environment>

  <script type="text/javascript">
    $(document).ready(function () {
      $('#seasons').iPhonePicker({ width: '80px', imgRoot: 'img/iPhonePicker' });
  });
  </script>
</div>