<div>
  <lo30-page-header-seasons></lo30-page-header-seasons>

  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        <div class="m-t-lg">

          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Score Sheet Entry (GameId: {{vm.gameId}})</h5>
              <div class="ibox-tools">
              </div>
            </div>
            <div class="ibox-content">
              <div class="row">
                <div>
                  <h3>
                    <div ng-hide="vm.gamesLoaded">Loading games...</div>
                    <div ng-show="vm.gamesLoaded">Please select a game</div>
                  </h3>
                  <h3 ng-show="vm.selectedGame">
                    <div>Game</div>
                    <div>Id: {{vm.selectedGame.gameId}}</div>
                    <div>Date: {{vm.selectedGame.gameDateTime}}</div>
                    <div>Type: {{vm.selectedGame.season.seasonName}} {{vm.selectedGame.playoff == true ? "Playoff Game" : "Regular Season Game"}}</div>
                  </h3>
                  <div>
                    <uib-accordion close-others="true">
                      <uib-accordion-group>
                        <uib-accordion-heading>
                          Home Roster - {{vm.teamRostersHome[0].teamNameLong}}
                        </uib-accordion-heading>
                        <div>
                          <table class="table table-condensed table-bordered table-hover table-striped">
                            <thead>
                              <tr>
                                <td colspan="4">{{vm.teamRostersHome[0].teamNameLong}}</td>
                                <td colspan="2">Sub</td>
                              </tr>
                              <tr>
                                <td>#</td>
                                <td>Pos</td>
                                <td>Name</td>
                                <td>Id</td>
                                <td>#</td>
                                <td>Id</td>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="roster in vm.teamRostersHome">
                                <td>{{roster.playerNumber}}</td>
                                <td>{{roster.position}}</td>
                                <td>{{roster.playerFirstName + " " + roster.playerLastName}}</td>
                                <td>{{roster.playerId}}</td>
                                <td><input id="subNumberFor{{roster.playerId}}" /></td>
                                <td><input id="subIdFor{{roster.playerId}}" /></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>


                      </uib-accordion-group>
                      <uib-accordion-group>
                        <uib-accordion-heading>
                          Away Roster - {{vm.teamRostersAway[0].teamNameLong}}
                        </uib-accordion-heading>
                        <div>
                          <table class="table table-condensed table-bordered table-hover table-striped">
                            <thead>
                              <tr>
                                <td colspan="4">{{vm.teamRostersAway[0].teamNameLong}}</td>
                                <td colspan="2">Sub</td>
                              </tr>
                              <tr>
                                <td>#</td>
                                <td>Pos</td>
                                <td>Name</td>
                                <td>Id</td>
                                <td>#</td>
                                <td>Id</td>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="roster in vm.teamRostersAway">
                                <td>{{roster.playerNumber}}</td>
                                <td>{{roster.position}}</td>
                                <td>{{roster.playerFirstName + " " + roster.playerLastName}}</td>
                                <td>{{roster.playerId}}</td>
                                <td><input id="subNumberFor{{roster.playerId}}" /></td>
                                <td><input id="subIdFor{{roster.playerId}}" /></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>

                      </uib-accordion-group>
                    </uib-accordion>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>