<div id="gameBoxScore">

  <div class="row">
    <div id="breadcrumb" class="col-xs-12">
      <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li><a href="#">Stats</a></li>
        <li><a href="#">Players</a></li>
        <li><a href="#">Player</a></li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div id="pageHeader" class="col-xs-12">
        <h3>Game Box Score</h3>
    </div>
  </div>

  <div class="row">
    <div id="pageSubHeader" class="col-xs-12">
      <lo30-criteria-selector />
    </div>
  </div>

  <div class="row">
    <div id="pageContents" class="col-xs-12">

      <div>
        <lo30-game-score-by-period-summary game-id="local.selectedGameId" />
      </div>
      <div>
        <lo30-game-score-by-period-detail game-id="local.selectedGameId" />
      </div>

    </div>
  </div>
</div>