<div id="standings">

  <div class="row">
    <div id="breadcrumb" class="col-xs-12">
      <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li><a href="#">Stats</a></li>
        <li><a href="#">Players</a></li>
        <li><a href="#">Player</a></li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div id="pageHeader" class="col-xs-12">
        <h3>Players</h3>
    </div>
  </div>

  <div class="row">
    <div id="pageSubHeader" class="col-xs-12">
      <lo30-criteria-selector />
    </div>
  </div>

  <div class="row">
    <div id="pageContents" class="col-xs-12">

      <uib-tabset>

        <uib-tab heading="Career" active="local.tabStates['career']">
          <br/>

          <div ng-if="local.selectedType === 'skater'">
            <!-- SKATER CAREER SUMMARY TABLE (CAREER TOTAL) -->
            <div class="row">
              <div class="col-xs-12">
                <table class="table table-condensed table-bordered table-striped table-dk-blue footable">
                  <thead>
                    <tr>
                      <th class="text-left" data-type="alpha" data-sort-ignore="true">Player</th>
                      <th class="text-right" data-type="numeric" data-sort-ignore="true">Seasons</th>
                      <th class="text-right" data-type="numeric" data-sort-ignore="true">Games</th>
                      <th class="text-right" data-type="numeric" data-sort-ignore="true">Goals</th>
                      <th class="text-right" data-type="numeric" data-sort-ignore="true">Assists</th>
                      <th class="text-right" data-type="numeric" data-sort-ignore="true">Points</th>
                      <th class="text-right" data-type="numeric" data-hide="phone" data-sort-ignore="true">PIM</th>
                      <th class="text-right" data-type="numeric" data-hide="phone,tablet" data-sort-ignore="true">PPG</th>
                      <th class="text-right" data-type="numeric" data-hide="phone,tablet" data-sort-ignore="true">SHG</th>
                      <th class="text-right" data-type="numeric" data-hide="phone,tablet" data-sort-ignore="true">GWG</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-left">{{local.playerStatCareer.playerNameToDisplay}}</td>
                      <td class="text-right">{{local.playerStatCareer.seasons}}</td>
                      <td class="text-right">{{local.playerStatCareer.games}}</td>
                      <td class="text-right">{{local.playerStatCareer.goals}}</td>
                      <td class="text-right">{{local.playerStatCareer.assists}}</td>
                      <td class="text-right">{{local.playerStatCareer.points}}</td>
                      <td class="text-right">{{local.playerStatCareer.penaltyMinutes}}</td>
                      <td class="text-right">{{local.playerStatCareer.powerPlayGoals}}</td>
                      <td class="text-right">{{local.playerStatCareer.shortHandedGoals}}</td>
                      <td class="text-right">{{local.playerStatCareer.gameWinningGoals}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <input id="filter" type="text" />


            <!-- SKATER CAREER DETAIL TABLE (SEASON TOTALS) -->
            <div class="row">
              <div class="col-xs-12">
                <table class="table table-condensed table-bordered table-striped table-dk-blue footable" data-filter="#filter">
                  <thead>
                    <tr>
                      <th class="text-left" data-type="alpha">Season</th>
                      <th class="text-right" data-type="numeric" data-sort-initial="true">Games</th>
                      <th class="text-right" data-type="numeric">Goals</th>
                      <th class="text-right" data-type="numeric">Assists</th>
                      <th class="text-right" data-type="numeric">Points</th>
                      <th class="text-right" data-type="numeric" data-hide="phone">PIM</th>
                      <th class="text-right" data-type="numeric" data-hide="phone,tablet">PPG</th>
                      <th class="text-right" data-type="numeric" data-hide="phone,tablet">SHG</th>
                      <th class="text-right" data-type="numeric" data-hide="phone,tablet">GWG</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in local.playerStatSeasons | orderBy:sortOn:sortDirection">
                      <td class="text-left"><a ng-href="/Ng/#/players/{{local.selectedPlayerId}}/types/skater/seasons/{{item.seasonId}}?tab=season">{{item.seasonName}}</a></td>
                      <td class="text-right">{{item.games}}</td>
                      <td class="text-right">{{item.goals}}</td>
                      <td class="text-right">{{item.assists}}</td>
                      <td class="text-right">{{item.points}}</td>
                      <td class="text-right">{{item.penaltyMinutes}}</td>
                      <td class="text-right">{{item.powerPlayGoals}}</td>
                      <td class="text-right">{{item.shortHandedGoals}}</td>
                      <td class="text-right">{{item.gameWinningGoals}}</td>
                    </tr>
                  </tbody>
                </table>

                <h6>
                  Tie Breaker:&nbsp;&nbsp;1) Most Points&nbsp;&nbsp;2) Most Wins&nbsp;&nbsp;3) Greatest Goals For/Goals Against difference&nbsp;&nbsp;4) Most Goals For&nbsp;&nbsp;5) Least Penalty Minutes
                </h6>
              </div>
            </div>
          </div>

          <div ng-if="local.selectedType === 'goalie'">
            <!-- GOALIE CAREER SUMMARY TABLE (CAREER TOTAL) -->
            <div class="row">
              <div class="col-xs-12">
                <table class="table table-condensed table-bordered table-striped table-dk-blue">
                  <thead>
                    <tr>
                      <th class="text-left">Player</th>
                      <th class="text-right">Seasons</th>
                      <th class="text-right">Games</th>
                      <th class="text-right">Goals Against</th>
                      <th class="text-right">GAA</th>
                      <th class="text-right">Wins</th>
                      <th class="text-right">Shutouts</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-left">{{local.playerStatCareer.playerNameToDisplay}}</td>
                      <td class="text-right">{{local.playerStatCareer.seasons}}</td>
                      <td class="text-right">{{local.playerStatCareer.games}}</td>
                      <td class="text-right">{{local.playerStatCareer.goalsAgainst}}</td>
                      <td class="text-right">{{local.playerStatCareer.goalsAgainst / local.playerStatCareer.games | number:2}}</td>
                      <td class="text-right">{{local.playerStatCareer.wins}}</td>
                      <td class="text-right">{{local.playerStatCareer.shutouts}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <!-- GOALIE CAREER DETAIL TABLE (SEASON TOTALS) -->
            <div class="row">
              <div class="col-xs-12">
                <table class="table table-condensed table-bordered table-striped table-dk-blue footable" data-filtering="true" data-sorting="true">
                  <thead>
                    <tr>
                      <th class="text-left">Season</th>
                      <th class="text-right">Games</th>
                      <th class="text-right">Goals Against</th>
                      <th class="text-right">GAA</th>
                      <th class="text-right">Wins</th>
                      <th class="text-right">Shutouts</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in local.playerStatSeasons | orderBy:sortOn:sortDirection">
                      <td class="text-left"><a ng-href="/Ng/#/players/{{local.selectedPlayerId}}/types/goalie/seasons/{{item.seasonId}}?tab=season">{{item.seasonName}}</a></td>
                      <td class="text-right">{{item.games}}</td>
                      <td class="text-right">{{item.goalsAgainst}}</td>
                      <td class="text-right">{{item.goalsAgainst / item.games | number:2}}</td>
                      <td class="text-right">{{item.wins}}</td>
                      <td class="text-right">{{item.shutouts}}</td>
                    </tr>
                  </tbody>
                </table>

                <h6>
                  Tie Breaker:&nbsp;&nbsp;1) Most Points&nbsp;&nbsp;2) Most Wins&nbsp;&nbsp;3) Greatest Goals For/Goals Against difference&nbsp;&nbsp;4) Most Goals For&nbsp;&nbsp;5) Least Penalty Minutes
                </h6>
              </div>
            </div>
          </div>
        </uib-tab>

        <uib-tab heading="Season" active="local.tabStates['season']">
          <br />

          <div ng-if="local.selectedType === 'skater'">
            <!-- SKATER SEASON SUMMARY TABLE (TEAM TOTALS) -->
            <div class="row">
              <div class="col-xs-12">
                <table class="table table-condensed table-bordered table-striped table-dk-blue footable">
                  <thead>
                    <tr>
                      <th class="text-left">Player</th>
                      <th class="text-left">Team</th>
                      <th class="text-right">Playoffs</th>
                      <th class="text-right">Position</th>
                      <th class="text-right">Line</th>
                      <th class="text-right">Games</th>
                      <th class="text-right">Goals</th>
                      <th class="text-right">Assists</th>
                      <th class="text-right">Points</th>
                      <th class="text-right">PIM</th>
                      <th class="text-right">PPG</th>
                      <th class="text-right">SHG</th>
                      <th class="text-right">GWG</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in local.playerStatTeamsToDisplay | orderBy:sortOn:sortDirection">
                      <td class="text-left">{{item.playerNameToDisplay}}</td>
                      <td class="text-left">{{item.teamNameToDisplay}}{{item.sub == true ? "*" : ""}}</td>
                      <td class="text-right">{{item.playoffs}}</td>
                      <td class="text-right">{{item.position}}</td>
                      <td class="text-right">{{item.line}}</td>
                      <td class="text-right">{{item.games}}</td>
                      <td class="text-right">{{item.goals}}</td>
                      <td class="text-right">{{item.assists}}</td>
                      <td class="text-right">{{item.points}}</td>
                      <td class="text-right">{{item.penaltyMinutes}}</td>
                      <td class="text-right">{{item.powerPlayGoals}}</td>
                      <td class="text-right">{{item.shortHandedGoals}}</td>
                      <td class="text-right">{{item.gameWinningGoals}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <!-- SKATER SEASON DETAIL TABLE (GAME DETAILS) -->
            <div class="row">
              <div class="col-xs-12">
                <table class="table table-condensed table-bordered table-striped table-dk-blue footable" data-filtering="true" data-sorting="true">
                  <thead>
                    <tr>
                      <th class="text-left">Game</th>
                      <th class="text-left">Date</th>
                      <th class="text-left">Team</th>
                      <th class="text-left">Playoffs</th>
                      <th class="text-left">Line</th>
                      <th class="text-left">Pos</th>
                      <th class="text-right">G</th>
                      <th class="text-right">A</th>
                      <th class="text-right">P</th>
                      <th class="text-right">PIM</th>
                      <th class="text-right">PPG</th>
                      <th class="text-right">SHG</th>
                      <th class="text-right">GWG</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in local.playerStatGamesToDisplay | orderBy:sortOn:sortDirection" lo30-footable>
                      <td class="text-left"><a ng-href="/ng/#/boxscores/games/{{item.gameId}}/seasons/{{item.seasonId}}">{{item.gameId}}</a></td>
                      <td class="text-left">{{ item.gameDateTime | date : "MMM d"}}</td>
                      <td class="text-left">{{item.teamNameShort}}{{item.sub == true ? "*" : ""}}</td>
                      <td class="text-left">{{item.playoffs}}</td>
                      <td class="text-left">{{item.line}}</td>
                      <td class="text-left">{{item.position}}</td>
                      <td class="text-right">{{item.goals}}</td>
                      <td class="text-right">{{item.assists}}</td>
                      <td class="text-right">{{item.points}}</td>
                      <td class="text-right">{{item.penaltyMinutes}}</td>
                      <td class="text-right">{{item.powerPlayGoals}}</td>
                      <td class="text-right">{{item.shortHandedGoals}}</td>
                      <td class="text-right">{{item.gameWinningGoals}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div ng-if="local.selectedType === 'goalie'">
            <!-- GOALIE SEASON SUMMARY TABLE (TEAM TOTALS) -->
            <div class="row">
              <div class="col-xs-12">
                <table class="table table-condensed table-bordered table-striped table-dk-blue footable">
                  <thead>
                    <tr>
                      <th class="text-left">Player</th>
                      <th class="text-left">Team</th>
                      <th class="text-right">Playoffs</th>
                      <th class="text-right">Games</th>
                      <th class="text-right">Goals Against</th>
                      <th class="text-right">GAA</th>
                      <th class="text-right">Wins</th>
                      <th class="text-right">Shutouts</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in local.playerStatTeamsToDisplay | orderBy:sortOn:sortDirection">
                      <td class="text-left">{{item.playerNameToDisplay}}</td>
                      <td class="text-left">{{item.teamNameToDisplay}}{{item.sub == true ? "*" : ""}}</td>
                      <td class="text-right">{{item.playoffs}}</td>
                      <td class="text-right">{{item.games}}</td>
                      <td class="text-right">{{item.goalsAgainst}}</td>
                      <td class="text-right">{{item.goalsAgainst / item.games | number:2}}</td>
                      <td class="text-right">{{item.wins}}</td>
                      <td class="text-right">{{item.shutouts}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <!-- SKATER SEASON DETAIL TABLE (GAME DETAILS) -->
            <div class="row">
              <div class="col-xs-12">
                <table class="table table-condensed table-bordered table-striped table-dk-blue footable" data-filtering="true" data-sorting="true">
                  <thead>
                    <tr>
                      <th class="text-left">Game</th>
                      <th class="text-left">Date</th>
                      <th class="text-left">Team</th>
                      <th class="text-left">Playoffs</th>
                      <th class="text-right">Goals Against</th>
                      <th class="text-right">Wins</th>
                      <th class="text-right">Shutouts</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in local.playerStatGamesToDisplay | orderBy:sortOn:sortDirection" lo30-footable>
                      <td class="text-left"><a ng-href="/ng/#/boxscores/games/{{item.gameId}}/seasons/{{item.seasonId}}">{{item.gameId}}</a></td>
                      <td class="text-left">{{ item.gameDateTime | date : "MMM d"}}</td>
                      <td class="text-left">{{item.teamNameToDisplay}}{{item.sub == true ? "*" : ""}}</td>
                      <td class="text-left">{{item.playoffs}}</td>
                      <td class="text-right">{{item.goalsAgainst}}</td>
                      <td class="text-right">{{item.wins}}</td>
                      <td class="text-right">{{item.shutouts}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </uib-tab>

        <uib-tab heading="Profile" active="local.tabStates['profile']">
        </uib-tab>
</uib-tabset>
  </div>
</div>

</div>