<div id="page-wrapper">
    <div class="row">
      <div id="pageHeader" class="col-xs-12">
        <span class="page-title">Standings</span>
        <span class="page-subtitle">{{local.criteriaSeason.seasonName}} {{local.criteriaSeasonType}} thru {{local.criteriaGame.gameDateTime | date : "MMM d"}}</span>
      </div>
    </div>

    <div class="row">
      <div id="pageContents" class="col-xs-12">
        <h4 ng-show="local.criteriaSeasonType === 'Playoffs'" class="division-title col-md-10" ng-repeat-start="itemByDiv in local.teamStandingsByDiv">{{itemByDiv.division}} Division</h4>
        <br />
        <table class="table table-condensed table-bordered table-striped" ng-repeat-end="">
          <thead>
            <tr>
              <th class="text-left" ng-click="sortAscFirst('ranking')">Rank <span ng-class="sortClass('ranking')"></span></th>
              <th class="text-left" ng-click="sortAscFirst('teamNameToDisplay')">Team <span ng-class="sortClass('teamNameToDisplay')"></span></th>
              <th class="text-right" ng-click="sortDescFirst('games')"><span ng-class="sortClass('games')"></span> Games</th>
              <th class="text-right" ng-click="sortDescFirst('wins')"><span ng-class="sortClass('wins')"></span> Wins</th>
              <th class="text-right" ng-click="sortDescFirst('losses')"><span ng-class="sortClass('losses')"></span> Losses</th>
              <th class="text-right" ng-click="sortDescFirst('ties')"><span ng-class="sortClass('ties')"></span> Ties</th>
              <th class="text-right" ng-click="sortDescFirst('points')"><span ng-class="sortClass('points')"></span> Points</th>
              <th class="text-right" ng-click="sortDescFirst('goalsFor')"><span ng-class="sortClass('goalsFor')"></span> GF</th>
              <th class="text-right" ng-click="sortDescFirst('goalsAgainst')"><span ng-class="sortClass('goalsAgainst')"></span> GA</th>
              <th class="text-right" ng-click="sortDescFirst('penaltyMinutes')"><span ng-class="sortClass('penaltyMinutes')"></span> PIM</th>
              <th class="text-right" ng-click="sortDescFirst('winPercent')"><span ng-class="sortClass('winPercent')"></span> W%</th>
              <th class="text-right" ng-click="sortDescFirst('subs')"><span ng-class="sortClass('subs')"></span> Subs</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in itemByDiv.teamStandings | orderBy:sortOn:sortDirection">
              <td class="text-left">{{item.ranking}}</td>
              <td class="text-left"><a ng-href="/ng/#/teams/{{item.teamId}}/seasons/{{item.seasonId}}">{{item.teamNameToDisplay}}</a></td>
              <td class="text-right">{{item.games}}</td>
              <td class="text-right">{{item.wins}}</td>
              <td class="text-right">{{item.losses}}</td>
              <td class="text-right">{{item.ties}}</td>
              <td class="text-right">{{item.points}}</td>
              <td class="text-right">{{item.goalsFor}}</td>
              <td class="text-right">{{item.goalsAgainst}}</td>
              <td class="text-right">{{item.penaltyMinutes}}</td>
              <td class="text-right">{{item.winPercent | percentage:0}}</td>
              <td class="text-right">{{item.subs}}</td>
            </tr>
          </tbody>
        </table>

        <h6>
          Tie Breaker:&nbsp;&nbsp;1) Most Points&nbsp;&nbsp;2) Most Wins&nbsp;&nbsp;3) Greatest Goals For/Goals Against difference&nbsp;&nbsp;4) Most Goals For&nbsp;&nbsp;5) Least Penalty Minutes
        </h6>
      </div>
    </div>
  </div>