<div id="statsPlayers">

  <div class="row">
    <div id="breadcrumb" class="col-xs-12">
      <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li><a href="#">Stats</a></li>
        <li><a href="#">Players</a></li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div id="pageHeader" class="col-xs-12">
      <h3 ng-click="console.log('{{1+1}}')">Player Statistics</h3>
    </div>
  </div>

  <div class="row">
    <div id="pageSubHeader" class="col-xs-12">
      <lo30-criteria-selector />
    </div>
  </div>

  <div class="row">
    <div class="row">
      <div id="pageContents" class="col-xs-12">
        <table id="showcase-fixedcolumns" class="table table-condensed table-bordered table-striped" datatable="ng" dt-options="local.dt.options">
          <thead>
            <tr>
              <th>Rank</th>
              <th>Player</th>
              <th>Games</th>
              <th>Points</th>
              <th>Goals</th>
              <th>Assists</th>
              <th>PIM</th>
              <th>PPG</th>
              <th>SHG</th>
              <th>GWG</th>
              <th>Team</th>
              <th>Position</th>
              <th>Line</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in local.playerStatTeams | orderBy:sortOn:sortDirection">
              <td></td>
              <td><a ng-href="/ng/#/players/{{item.playerId}}">{{item.playerNameToDisplay}}</a></td>
              <td class="text-right">{{item.games}}</td>
              <td class="text-right">{{item.points}}</td>
              <td class="text-right">{{item.goals}}</td>
              <td class="text-right">{{item.assists}}</td>
              <td class="text-right">{{item.penaltyMinutes}}</td>
              <td class="text-right">{{item.powerPlayGoals}}</td>
              <td class="text-right">{{item.shortHandedGoals}}</td>
              <td class="text-right">{{item.gameWinningGoals}}</td>
              <td>{{item.teamNameToDisplay}}</td>
              <td class="text-right">{{item.position}}</td>
              <td class="text-right">{{item.line}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>