  <nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
      <ul side-navigation class="nav metismenu" id="side-menu">
        <li class="nav-header">

          <div class="profile-element">
            <div class="logo-brand">
              Livonia Over 30 Hockey
            </div>
          </div>

          <div class="logo-element">
            LO30
          </div>

        </li>

        <li ng-class="{active: $ctrl.isActive('news')}">
          <a ui-sref="root.news()" ng-click="$ctrl.setActive('news')"><i class="fa fa-newspaper-o"></i> <span class="nav-label">News</span></a>
        </li>
        <li ng-class="{active: $ctrl.isActive('standings')}">
          <a ui-sref="root.standings({seasonId: $ctrl.season.seasonId, seasonTypeId: $ctrl.seasonType.seasonTypeId})" ng-click="$ctrl.setActive('standings')"><i class="fa fa-signal"></i> <span class="nav-label">Standings</span></a>
        </li>
        <li ng-class="{active: $ctrl.isActive('statsLine')}">
          <a ui-sref="root.statsLine({seasonId: $ctrl.season.seasonId, seasonTypeId: $ctrl.seasonType.seasonTypeId})" ng-click="$ctrl.setActive('statsLine')"><i class="fa fa-group"></i> <span class="nav-label">Lines</span></a>
        </li>
        <li ng-class="{active: $ctrl.isActive('stats')}">
          <a href="#"><i class="fa fa-user"></i> <span class="nav-label">Stats</span><span class="fa arrow"></span></a>
          <ul class="nav nav-second-level collapse" ng-class="{in: $ctrl.isActive('stats')}">
            <li ng-click="$ctrl.setActive('stats')"><a ui-sref="root.stats({seasonId: $ctrl.season.seasonId, seasonTypeId: $ctrl.seasonType.seasonTypeId, playerType: 'skater'})">Skaters</a></li>
            <li ng-click="$ctrl.setActive('stats')"><a ui-sref="root.stats({seasonId: $ctrl.season.seasonId, seasonTypeId: $ctrl.seasonType.seasonTypeId, playerType: 'goalie'})">Goalies</a></li>
          </ul>
        </li>
        <li ng-class="{active: $ctrl.isActive('careers')}">
          <a href="#"><i class="fa fa-user-plus"></i> <span class="nav-label">Careers</span><span class="fa arrow"></span></a>
          <ul class="nav nav-second-level collapse" ng-class="{in: $ctrl.isActive('careers')}">
            <li ng-click="$ctrl.setActive('careers')"><a ui-sref="root.careers({playerType: 'skater'})">Skaters</a></li>
            <li ng-click="$ctrl.setActive('careers')"><a ui-sref="root.careers({playerType: 'goalie'})">Goalies</a></li>
          </ul>
        </li>
        <li ng-class="{active: $ctrl.isActive('schedule')}">
          <a ui-sref="root.schedule()" ng-click="$ctrl.setActive('schedule')"><i class="fa fa-calendar-o"></i> <span class="nav-label">Schedule</span></a>
        </li>
        <li ng-class="{active: $ctrl.isActive('about')}">
          <a ui-sref="root.about()" ng-click="$ctrl.setActive('about')"><i class="fa fa-info-circle"></i> <span class="nav-label">About</span></a>
        </li>
      </ul>

    </div>
  </nav>