<div class="form-group">
  <label class="col-sm-4 control-label">Season Types</label>
  <div class="col-sm-8">
    <ui-select theme="bootstrap" ng-model="local.selectedSeasonType">
      <ui-select-match>{{$select.selected.seasonTypeName}}</ui-select-match>
      <ui-select-choices repeat="seasonType in (local.seasonTypes | filter: $select.search) track by seasonType.seasonTypeId">
        <span ng-bind="seasonType.seasonTypeName"></span>
      </ui-select-choices>
    </ui-select>
  </div>
</div>